/* Custom styles */
body {
    transition: background-color 0.3s, color 0.3s;
}

.navbar-brand {
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

/* Sidebar themes */
.sidebar-admin {
    background-color: #dc3545;
}

.sidebar-firma {
    background-color: #0d6efd;
}

.sidebar-admin .nav-link,
.sidebar-firma .nav-link {
    color: #fff;
}
